/* Define scrollbar width and color */
::-webkit-scrollbar {
    width: 10px; /* Adjust as needed */
    background-color: #f0f0f0; /* Background color of scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
    background: #fcfcfc3d; /* Background color of scrollbar track */
}

/* Handle when dragging */
::-webkit-scrollbar-thumb:active {
    background-color: #666; /* Color of scrollbar handle when dragging */
}
